In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\91987\Downloads\TaxiFarePrediction\Taxi Fare Prediction\Dataset\TaxiFare.csv",index_col=0)

In [3]:
data.head()

,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
unique_id,,,,,,,
26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [4]:
data.shape

(50000, 7)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 26:21.0 to 13:14.0
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   amount                50000 non-null  float64
 1   date_time_of_pickup   50000 non-null  object
 2   longitude_of_pickup   50000 non-null  float64
 3   latitude_of_pickup    50000 non-null  float64
 4   longitude_of_dropoff  50000 non-null  float64
 5   latitude_of_dropoff   50000 non-null  float64
 6   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 3.1+ MB

In [25]:
data.df.date_time_of_pickup=pd.to_datetime(data.date_time_of_pickup)

AttributeError: 'DataFrame' object has no attribute 'date_time_of_pickup'

In [26]:
data.dtypes

amount                  float64
longitude_of_pickup     float64
latitude_of_pickup      float64
longitude_of_dropoff    float64
latitude_of_dropoff     float64
no_of_passenger           int64
dtype: object

In [8]:
data.drop('date_time_of_pickup',axis=1,inplace=True)
data.head()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
unique_id,,,,,,
26:21.0,4.5,-73.844311,40.721319,-73.841610,40.712278,1
52:16.0,16.9,-74.016048,40.711303,-73.979268,40.782004,1
35:00.0,5.7,-73.982738,40.761270,-73.991242,40.750562,2
30:42.0,7.7,-73.987130,40.733143,-73.991567,40.758092,1
51:00.0,5.3,-73.968095,40.768008,-73.956655,40.783762,1

In [9]:
data.shape

(50000, 6)

In [10]:
X=data.values[:,1:]
Y=data.values[:,0]

In [11]:
X.shape

(50000, 5)

In [12]:
Y.shape

(50000,)

In [13]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaler.fit(X)
X=scaler.transform(X)

In [14]:
X

array([[-0.12839972,  0.12651983, -0.1284649 ,  0.13068477, -0.51803399],
       [-0.14492282,  0.12491079, -0.14169175,  0.14227741, -0.51803399],
       [-0.14171801,  0.13293788, -0.14284227,  0.13704986,  0.25765179],
       ...,
       [-0.14363839,  0.12942901, -0.14350199,  0.13853307, -0.51803399],
       [-0.13818935,  0.13555596, -0.13921103,  0.14189218,  0.25765179],
       [-0.13689444,  0.13334512, -0.13720795,  0.13925164, -0.51803399]])

In [15]:
from sklearn.model_selection import train_test_split
# Split the data into test and train
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=10)

In [16]:
# predicting using the Decision Tree Regressor
from sklearn.tree import DecisionTreeRegressor

model_DecisionTree=DecisionTreeRegressor(random_state=10,splitter='best')

# fit the model on the data and predict the values 
model_DecisionTree.fit(X_train,Y_train)
Y_pred=model_DecisionTree.predict(X_test)
print(Y_pred)
#print(list(zip(Y_test,Y_pred)))

[49.57  4.9  13.7  ...  7.7   4.5  13.  ]

In [17]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.48355663550734773
RMSE: 6.936225782482888
Adj R-square: 0.48350498497283434

In [18]:
from sklearn.ensemble import RandomForestRegressor

model_RandomForest=RandomForestRegressor(n_estimators=100,random_state=10,bootstrap=True)
# fit the model on the data and predict the values 
model_RandomForest.fit(X_train,Y_train)

Y_pred=model_RandomForest.predict(X_test)

In [19]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.7032795216167936
RMSE: 5.257576866743918
Adj R-square: 0.7032498460078822

In [20]:
# Prediciting using the KNeighbors_Regressor
from sklearn.neighbors import KNeighborsRegressor
model_KNN=KNeighborsRegressor(n_neighbors=13,metric='euclidean')

# euclidean, manhattan,minkowski
# fit the model on the data and predict the values 
model_KNN.fit(X_train,Y_train)

Y_pred=model_KNN.predict(X_test)
Y_pred

array([52.60615385,  6.17692308,  7.1       , ..., 13.15384615,
        5.90769231,  9.23846154])

In [21]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.7178707979323862
RMSE: 5.126676230239641
Adj R-square: 0.7178425816262226

In [22]:
from sklearn.metrics import r2_score
 
for K in range(1,51):
    model_KNN = KNeighborsRegressor(n_neighbors=K,metric="euclidean")
    model_KNN.fit(X_train, Y_train) 
    Y_pred = model_KNN.predict(X_test)
    print ("R-square is ", r2_score(Y_test,Y_pred), "for K-Value:",K)

R-square is  0.5611831993637202 for K-Value: 1
R-square is  0.6592315867485078 for K-Value: 2
R-square is  0.6902531947613959 for K-Value: 3
R-square is  0.7044511157497659 for K-Value: 4
R-square is  0.7057927195924577 for K-Value: 5
R-square is  0.7120818183481167 for K-Value: 6
R-square is  0.7140845229498125 for K-Value: 7
R-square is  0.7133613909698274 for K-Value: 8
R-square is  0.7091889083961003 for K-Value: 9
R-square is  0.7127876383092842 for K-Value: 10
R-square is  0.7163098980120532 for K-Value: 11
R-square is  0.7162147886476642 for K-Value: 12
R-square is  0.7178707979323862 for K-Value: 13
R-square is  0.7165327288224658 for K-Value: 14
R-square is  0.7160399321105421 for K-Value: 15
R-square is  0.7166676010161948 for K-Value: 16
R-square is  0.7155597974589339 for K-Value: 17
R-square is  0.7149990986128494 for K-Value: 18
R-square is  0.7149124435681183 for K-Value: 19
R-square is  0.7133795446479184 for K-Value: 20
R-square is  0.7098238603508885 for K-Value: 21
R-square is  0.7088378582635175 for K-Value: 22
R-square is  0.7089950170033403 for K-Value: 23
R-square is  0.7081305299129853 for K-Value: 24
R-square is  0.7071630207663552 for K-Value: 25
R-square is  0.7035585413061766 for K-Value: 26
R-square is  0.7034943884278051 for K-Value: 27
R-square is  0.7025299441802582 for K-Value: 28
R-square is  0.7009412640787291 for K-Value: 29
R-square is  0.6995269414734948 for K-Value: 30
R-square is  0.698580683991826 for K-Value: 31
R-square is  0.6973147137103277 for K-Value: 32
R-square is  0.6960144451965121 for K-Value: 33
R-square is  0.6943211370789865 for K-Value: 34
R-square is  0.6929853010834552 for K-Value: 35
R-square is  0.6914711871513208 for K-Value: 36
R-square is  0.6895151452697905 for K-Value: 37
R-square is  0.6881310184714475 for K-Value: 38
R-square is  0.6865166449237764 for K-Value: 39
R-square is  0.685220588488663 for K-Value: 40
R-square is  0.6840008903796629 for K-Value: 41
R-square is  0.6825429579901254 for K-Value: 42
R-square is  0.6813010911954476 for K-Value: 43
R-square is  0.6799952991205419 for K-Value: 44
R-square is  0.6786139273291318 for K-Value: 45
R-square is  0.6771587276443208 for K-Value: 46
R-square is  0.6743583156278625 for K-Value: 47
R-square is  0.6731256776010978 for K-Value: 48
R-square is  0.6720577723901521 for K-Value: 49
R-square is  0.6711710004650535 for K-Value: 50